body {
    margin: 0px;
    min-height: 100vh;
    overflow: hidden;
}

img {vertical-align: middle;}

/* Navigation Bar */
.nav {
    display: flex;
    flex-direction: row;
}

/* Home Button */

.home {
    width: 117px;
    padding: 10px 10px;
    margin-left: 30px;
}

.home-img {
    height: 65px;
}

/* Search Bar */

.search {
    margin-left: 220px;
    padding: 10px 10px;
    display: flex;
}

.search-bar {
    margin-top: 8px;
    padding: 10px 0px;
    height: 35px;
}

#search-input {
    height: 25px;
    width: 450px;
}

.search-btn {
    margin-top: 8px;
    height: 54px;
}

#search-btn {
    padding-top: 3px;
    height: 31px;
    width: 54px;
    margin: 10px 0px 0px -54px;
    text-align: center;
    text-decoration: none;
}

#search-btn:hover {
    cursor: pointer;
}


/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.Slides {display: none}

/* Caption text */
.text {
    color: #f2f2f2;
    background-color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 20%;
    text-align: left;
}
.text-trending {
    color: white;
    background-color: black;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50px;
    width: 20%;
    text-align: left;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
      
.active, .dot:hover {
    background-color: #717171;
}

.video {
    float: left;
    width: 33.33%;
    border-style: solid;
  }